name: Devel

on: 
    workflow_dispatch:
    schedule:
    # The job runs every two weeks
     - cron: '0 0 1,15 * *'
    
jobs:
  build:
    name: build devel and master images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout docker-deployment-images
        uses: actions/checkout@v4
        
      - name: Repository Dispatch for building images
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          event-type: cron_trigger
          client-payload: '{"version": "master", "type": "cron_trigger", "img_list": "superbuild superbuild-icubhead superbuild-icubhead-withuser superbuild-ros2"}'
